#like-part{
    padding: 100px  0px;
    margin-left: 145px;
 }
 #like-part h4{
font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 50px;
line-height: 65px;
text-align: center;
letter-spacing: -2px;
color: #030314;
 }
 .blank-img{
    margin-left: 60px;
 }
 .blank-text{
    margin-left: 80px;
 }
 .blank-text .news-part h3{
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #726E9E;
    transition: all linear 0.4s;

 }
 a{
    text-decoration: none;
 }
 .news-part{
    justify-content: space-evenly;
 }
 .blank-text .news-part h6{
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #726E9E;
    transition: all linear 0.4s;

 }
  .blank-text .news-part h5{
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #726E9E;
    transition: all linear 0.4s;

 }
   .blank-text .news-part h2{
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #726E9E;
    transition: all linear 0.4s;

 }
   .blank-text .news-part span{
    font-family: 'Quicksand';
    font-weight: 500;
    font-size: 16px;
    line-height: 25px;
    color: #726E9E;
    transition: all linear 0.4s;
 }
 .blank-text p{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 31px;
line-height: 55px;
letter-spacing: -1.5px;
color: #141135;
margin-left: 40px;
 }
 .news-part h3:hover {
    color: #1BBF00;
    font-weight: 700
 }
 .news-part h6:hover {
    color: #1BBF00;
    font-weight: 700
 }
 .news-part h5:hover {
    color: #1BBF00;
    font-weight: 700
 }
 .news-part h2:hover {
    color: #1BBF00;
    font-weight: 700
 }
 .news-part span:hover {
    color: #1BBF00;
    font-weight: 700
 }
 .read-part{
    margin-left: 32px;
 }
 .read-part a{
   padding: 10px 15px;
   border-radius: 100px;
   font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 24px;
color: #141135;
position: relative;
overflow: clip;
 }
 .read-part a::after{
 content: "";
 position: absolute;
 top: 0;
 left: 92px;
 background: #1BBF00;
 opacity: 0.3;
 width: 100%;
 height: 100%;
 border-radius: 0px 100px 100px 0px;
 transition: all linear 0.4s;
 }
 .read-part a:hover::after{
    left:0px;
 }