#impact{
    padding: 80px 0;
    position: relative;
}
#impact .impact_bg{
    height: 300px;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    z-index: -1;
}
#impact .impact_bg img{
    height: 300px;
    width: 300px;
}
.impact_heading h3{
    font-size: 48px;
    font-weight: 700;
    font-family:'Open Sans', sans-serif ;
    color: #141135;
}
.impact_heading p {
	font-size: 18px;
	font-weight: 400;
	font-family: 'Paprika', cursive;
	color: #726E9E;
	padding: 20px 45px;
	width: 582px;
	margin-left: 25px;
}
.impact_left{
    display: flex;
    gap: 30px;
    padding: 20px 0;
}
.impact_left .text h5{
    font-size: 30px;
    font-weight: 700;
    font-family:'Open Sans', sans-serif ;
    color: #141135;
    transition: all linear .3s;
}
.impact_left .text p {
	font-size: 18px;
	font-weight: 400;
	font-family: 'Paprika', cursive;
	color: #726E9E;
	padding: 10px 170px 0 0;
	width: 500px;
	margin-left: 1px;
}
.impact_right {
	margin-left: -48px;
}